html{
    height: 100%;
    background: radial-gradient(circle,#fff, #ccc);
}

#container{
    min-height:80vh;
    width: 90vw;
    background-color:#abd7ed;
    margin:100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px navy;
    -moz-box-shadow: 4px 4px 15px navy;
    -webkit-box-shadow: 4px 4px 15px navy;
    position: relative;
}

#scorebox{
    background-color:aqua;
    color: black;
    padding: 10px;
    position: absolute;
    left: 450px;
    top: 10px;
    box-shadow: 1px 1px 0px black;
    -moz-box-shadow: 1px 1px 0px black;
    -webkit-box-shadow: 1px 1px 0px black;
}

#correct{
    position:absolute;
    width:50px;
    left: 200px;
    top: 20px;
    background-color: green;
    padding:5px;
    color:white;
    display:none;
}

#wrong{
    position:absolute;
    left: 200px;
    top: 20px;
    width:100px;
    background-color: orangered;
    padding:5px;
    color:white;
    display:none;
}

#instruction{
    width:80vw;
    min-height:20px;
    margin: 10px auto 10px auto;
    background-color: #ba8fde;
    box-shadow: 2px 2px 2px black;
    -moz-box-shadow: 2px 2px 2px black;
    -webkit-box-shadow: 2px 2px 2px black;
    text-align: center;
    line-height: 20px;
    font-size:15px;
}
#question{
    width:450px;
    height:auto;
    margin: 50px auto 10px auto;
    background-color: #a8abee;
    box-shadow: 2px 2px 2px black;
    -moz-box-shadow: 2px 2px 2px black;
    -webkit-box-shadow: 2px 2px 2px black;
    text-align: center;
    font-size:50px;
    
}
#choices{
    width:80vw;
    min-height:50vh;
    padding: 5px;
    margin: 10px auto 10px auto;
    background-color:white;
    box-shadow: 2px 2px 2px black;
    -moz-box-shadow: 2px 2px 2px black;
    -webkit-box-shadow: 2px 2px 2px black;
}

#startreset{
position: relative;
width:85px;
height: 20px;
background-color: white;
margin: 0px auto 0px auto;
border-radius: 3px;
    box-shadow: 2px 2px 2px black;
    -moz-box-shadow: 2px 2px 2px black;
    -webkit-box-shadow: 2px 2px 2px black;
top: 0px;
cursor:pointer;
text-align: center;
transition: all 0.5s;
-webkit-transition: all 0.2s;
-ms-transition: all 0.2s;
-moz-transition: all 0.2s;
-o-transition: all 0.2s;
    
}

#startreset:hover{
    background: purple;
    color: white;
    
}

#startreset:active{
  box-shadow: 0px 0px;
    -moz-box-shadow: 0px 0px;
    -webkit-box-shadow: 0px 0px;
    top: 4px;  
}

#timeremaining{
    width:100px;
    padding:5px;
    position:absolute;
    top:420px;
    left:390px;
    background:rgba(137,173,200,0.9);
    border-radius:2px;
    box-shadow: 2px 2px 2px black;
    -moz-box-shadow: 2px 2px 2px black;
    -webkit-box-shadow: 2px 2px 2px black;
    display:none;
}
#quizover{
    padding: 50px;
    width:60vw;
    height:30vh;
    background:linear-gradient(orange,red);
    color:white;
    font-size:40px;
    text-transform:capitalize;
    position:absolute;
    top:15vh;
    left:10vw;
    z-index:2;
    display:none;
}
.limit{width:80vw;
    word-wrap: break-word;
}

.box{
width:80vw;
height:auto;
background-color: white;
float:left;
border-radius: 3px;
border-style: solid;
cursor:pointer;
text-align: center;
position:relative;
top:0px;
transition: all 0.5s;
-webkit-transition: all 0.2s;
-ms-transition: all 0.2s;
-moz-transition: all 0.2s;
-o-transition: all 0.2s;

}

.box:hover{
    background: purple;
    color: white;
    border-color:yellow;
}
.box:active{
    box-shadow: 0px 0px;
    -moz-box-shadow: 0px 0px;
    -webkit-box-shadow: 0px 0px;
    top: 4px;
}
